.btn {
    height: 34px;
    border-radius: 4px;
    min-width: 80px;
    border: none;
    color: #fff;
    line-height: 36px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.btn:focus {
    background-color: var(--focus-color);
}

.btn-secondary {
    background-color: #fff;
    border: 1px solid #8d9096;
    color: #212121;
    font-weight: 700;
}
.btn-secondary:hover {
    background-color: #d2d3d6;
}
.btn-secondary:focus {
    background-color: #a8a9ad;
}
.btn-primary {
    background-color: var(--primary-color);
}
.btn-delete {
    background-color: #DE3617;
}
.btn-delete:hover {
    background-color: #b45a5a;
}
/* button has icon & content */
.btn__has-icon {
    padding: 0 16px 0 0;
}

.btn__has-icon .btn__has-icon__item {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin: 0 4px 0 12px;
}

/* button has icon*/
.btn-icon {
    width: 36px;
    height: 36px;
    padding: 0 8px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
}

.btn-icon .btn-icon__item {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

/* combo button */
.cbo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.cbo-btn .cbo-btn__left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cbo-btn .cbo-btn__right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--primary-color);
    border: none;
    border-left: 1px solid var(--border-color);
    color: #fff;
    padding: 0 12px;
    width: max-content;
}

.cbo-btn .btn-icon:hover {
    background-color: var(--secondary-color);
}

.cbo-btn .btn-icon:focus {
    background-color: var(--focus-color);
}

/* button disable */
.btn-disable {
    opacity: 0.56;
    cursor: not-allowed;
}
.btn:focus-visible {
    outline: none;
}
.disable-btn {
    opacity: 0.3;
    border: 1px solid;
}
.disable-btn:hover {
    opacity: 0.3;
    border: 1px solid;
    background-color: unset;
}