.content {
    height: calc(100vh - 48px);
    background-color: #eceef1;
    padding: 0 20px;
}
.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 11px 0;
}

.content__header-text {
    font-weight: 700;
    font-size: 24px;
}

.content-wrapper {
    background-color: #fff;
    box-shadow: 0 0 3px #01161e29;
    height: calc(100vh - 48px - 71px - 10px);
    padding: 0 30px 0 20px;
    position: relative;
}
.content-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
.content-wrapper__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0 16px 0;
    width: calc(100% + 10px);
}

.content-wrapper__action-refresh {
    margin-left: 16px;
    position: relative;
    top: 4px;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

/* .content-icon:hover {
    top: 18px !important;
} */
.content-icon {
    position: absolute;
    top: 18px;
    right: 6px;
}