
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dialog__content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  min-width: 400px;
  border-radius: 4px;
  max-width: 450px;
}
.flex {
  display: flex;
  align-items: center;
}
.dialog-content__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}
.dialog-content__header {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  justify-content: space-between;
}
.dialog-header__title {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  overflow: hidden;
  font-size: 24px;
}
.dialog-content__container {
  max-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.dialog-mgs {
  padding: 4px;
  list-style: none;
  font-size: 14px;
}
.dialog-warring-footer {
  justify-content: flex-end;
}
.dialog-content__header-dl {
  padding-bottom: 38px;
  padding-top: 0;
}
.dialog-warring-footer-end {
  display: flex;
}
.space-beetween {
  justify-content: flex-end;
}
