.tbl {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: auto;
    table-layout: fixed;
    height: calc(100vh - 48px - 71px - 68px - 68px);
}


.tbl tbody {
    display: block;
    width: calc(100% + 6px);
    overflow: auto;
    height: calc(100vh - 48px - 71px - 68px - 68px);
}


tbody::-webkit-scrollbar-track { 
    margin-top: 40px;
}

.tbl .tbl-row {
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
}

.tbl .tbl-row th {
    text-transform: uppercase;
    font-size: 13px;
    background: #e5e8ec;
}

.tbl .tbl-row:first-child {
    background-color: #e5e8ec;
}

.tbl .tbl-row:first-child:hover {
    background-color: #e5e8ec;
}

.tbl .tbl-row:hover {
    background-color: var(--table-bg-color);
}

.tbl .tbl-row:nth-child(2) {
    background-color: var(--table-bg-color);
}

.tbl .tbl-col {
    position: relative;
    width: 100px;
    min-width: 120px;
    padding: 0 10px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background: white;
}
.tbl tr:hover td {background-color: #f2f9ff;}
.tbl tr td.backgound-hover {
    background-color: #f2f9ff;
}
.tbl thead,
th {
    background-color: #e5e8ec;
    top: 0px;
}

.tbl .tbl-col--large {
    width: 186px;
    min-width: 200px;
}

.tbl .tbl-col:first-child {
    padding-right: 0;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    position: sticky;
    left: 0;
    z-index: 1;
}

.tbl .tbl-col:last-child {
    width: 110px;
    min-width: 110px;
    border-right: none !important;
    position: sticky;
    right: 0;
    table-layout: fixed;
    z-index: 1;  
}

.tbl .tbl-col input[type="checkbox"] {
    margin: 0 16px;
    height: 24px;
    width: 24px;
    display: none;
}

.tbl-col .mask {
    position: absolute;
    height: 16px;
    width: 16px;
    border: 1px solid #757575;
    border-radius: 2px;
    left: 11px;
    top: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.tbl-col .mask div {
    display: none;
}

.tbl .tbl-col input[type="checkbox"]:checked+.mask div {
    display: block;
}

.tbl .tbl-row:has([type="checkbox"]:checked) td{
    background-color: var(--table-bg-color);
}

.tbl .tbl-row:has([type="checkbox"]:checked):first-child {
    background-color: #e5e8ec;
}

/* col action */
.tbl-col__action {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tbl-col__action .sidebar-item__icon {
    margin: 8px 0 8px 10px;
}

.tbl-col__action-item {
    height: 36px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #1F1F1F;
    cursor: pointer;
    padding: 5px 10px;
}

.tbl-col__action-item:hover {
    background-color: #ebedf0;
    color: #2ca01c;
}

.tbl-col__action-list {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    height: 110px;
    width: 125px;
    z-index: 15;
}
@keyframes down {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.tbl-col__action:has(.tbl-col__action-item:focus) {
    height: 0;
}

.tbl-col__action-edit {
    color: #0075c0;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
.tbl th {
    position: sticky;
    top: 0;
    z-index: 1;
}
.tbl tr td {
    box-sizing: border-box;
}
.empty-data {
    position: fixed;
    top: 50%;
    left: 50%;
}
.empty-data-text {
    text-align: center;
    margin-top: 8px;
}
